* {
  padding: 0;
  margin: 0;
}
button {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  align-items: center;
  color: white;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 20px;
}

a,
p,
h1,
h2,
h3 {
  font-family: "Big Shoulders Display", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Public Sans", sans-serif;
}
header {
  position: relative;
  z-index: 100;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
   padding: 20px;
   padding-left:10vw;
   padding-right:10vw;
}
nav .close-ham {
  display: none;
  height: 5px;
}

nav .menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  list-style: none;
}
nav .menu-div {
  border-radius: 2px;
}
nav .menu li {
  padding-left: 25px;
}
nav .menu li a {
  color: rgb(109, 111, 113);
  font-size: 2.2vh;
  text-decoration: none;
}

/* main content */
.mockup_intro_png {
  position: relative;
}

.bg_img_container {
  position: relative;
  background-image: url("./images/bg-intro-desktop.svg");
  background-position: left top -17rem;
  background-repeat: no-repeat;
  height: 60vh;
}

.bg_img_container img {
  top: -9rem;
  right: -10rem;
  height: 50rem;
  width: 45rem;
}
main {
  background-color: aliceblue;
  overflow: hidden;
}
main .box-1-left {
  width: 28vw;
}
main .box-1-left h1,
p,
button {
  padding-bottom: 15px;
}
.box-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom:6rem;
  background-color:ghostwhite;
}
.box-1 h1 {
  font-size: 50px;
  font-weight: 300;
  color: rgba(47, 49, 70, 1);
  line-height:3rem;
}
main p {
  font-size: large;
  color: rgb(109, 111, 113);
}
small {
  color: rgb(109, 111, 113);
}
.box-2 {
  padding-top:6rem;
  display: flex;
  flex-direction: column;
  padding-bottom:4rem;
}
.box-2 h1 {
  margin-bottom: 1rem;
  font-size: 2.5em;
  font-weight: 250;
  color: rgba(47, 49, 70, 1);
}
.sub-box {
  width: 34vw;
  margin-bottom: 2rem;
}

.box-2 .flex-box img,
h2,
p {
  margin-bottom: 2.5rem;
}
 .flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
 main h2 {
  font-size: 1.8em;
  font-weight: 200;
  color: rgba(47, 49, 70, 1);
}
.bank-feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 18rem;
}

.box-3{
  padding-top:6rem;
  background-color:ghostwhite;
}

 .box-3 h1 {
  font-size: 2.5em;
  font-weight: 250;
  color: rgba(47, 49, 70, 1);
  margin-bottom:3rem;
}
.flex-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
}
 .article-content {
  margin-bottom: 2rem;
  width: 18rem;
  background-color: rgb(255, 250, 250);
  border-radius: 8px;
  text-align: start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.flex-images .article-detail {
  display: flex;
  flex-direction: column;
  margin-left:1rem;
  width: 15rem;
}

.flex-images .article-detail p,
small,
h3 {
  margin-top: 1rem;
  font-weight: 100;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
.flex-images .article-detail p {
  text-align: start;
}
.flex-images img {
  width: 100%;
  border-radius: 3px;
}

.box-1{
  padding-left:10vw;
}
.box-2,
.box-3 {
  padding-left: 10vw;
  padding-right: 10vw;
}


footer {
  background-color: rgba(44, 49, 79, 1);
  padding-top: 40px;
}

 .footer-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left:10vw;
  padding-right:10vw;
 
}

.footer-content-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.footer-content-1 img,
.social-items {
  padding: 8px;
  cursor: pointer;
}

 .footer-flex li a {
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer .footer-flex li {
  list-style: none;
  padding-bottom: 20px;
}
.footer-flex .footer-menu-1,
.footer-menu-2,
.btn-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-items{
  display: flex;
  justify-content: space-between;
  width:10rem;
}
.icon-facebook{
  background-image: url('./images/icon-facebook.svg');
  height:1.25rem;
  width:1.25rem;
  background-repeat: no-repeat;
}
.icon-youtube{
  background-image: url('./images/icon-youtube.svg');
  height:1.25rem;
  width:1.25rem;
  background-repeat: no-repeat;
}
.icon-twitter{
  background-image: url('./images/icon-twitter.svg');
  height:1.25rem;
  width:1.25rem;
  background-repeat: no-repeat;
}
.icon-pinterest{
  background-image: url('./images/icon-pinterest.svg');
  height:1.25rem;
  width:1.25rem;
  background-repeat: no-repeat;
}
.icon-insta{
  background-image: url('./images/icon-instagram.svg');
  height:1.25rem;
  width:1.25rem;
  background-repeat: no-repeat;
}




/* hover */
.footer-menu-1 :hover {
  color: hsl(136, 79%, 33%);
}
.footer-menu-2 :hover {
  color: hsl(136, 79%, 33%);
}
.menu li a:hover {
  border-bottom: 4px solid hsl(136, 78%, 45%);
  padding-bottom: 25px;
}
button:hover {
  background-image: linear-gradient(
    to right,
    hsl(136, 85%, 72%),
    hsl(192, 88%, 74%)
  );
}
main .box-3 .flex-images div:hover {
  transform: scale(1.02);
}
.article-content {
  cursor: pointer;
}
.article-content h3:hover {
  color: rgb(40, 155, 113);
}

.icon-facebook:hover{
  cursor: pointer;
  background-image: url('./images/icon-facebook\ copy.svg');
}
.icon-youtube:hover{
  cursor: pointer;
  background-image: url('./images/icon-youtube\ copy.svg');
}
.icon-twitter:hover{
  cursor: pointer;
  background-image: url('./images/icon-twitter\ copy.svg');
}
.icon-pinterest:hover{
  cursor: pointer;
  background-image: url('./images/icon-pinterest\ copy.svg');
}
.icon-insta:hover{
  cursor: pointer;
  background-image: url('./images/icon-instagram\ copy.svg');
}




/* media screen */
@media screen and (max-width: 800px) {
  .bg_img_container {
    background-image: url("./images/bg-intro-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .bg_img_container img {
    position: relative;
    height:35rem;
    width: 100vw;
    top:-8rem;
    left:0;
  }
  nav .menu li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  main .box-1-left a {
    text-align: center;
  }
  main .box-1-left h1 {
    font-size: 2.5rem;
  }
  main .box-1-left {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin-bottom: 10vw;
  }
  main .box-1 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding:0;
  }
  main p {
    text-align: center;
  }
  
  .article-content{
    justify-content: center;
  }
   .box-3{
    text-align: center;
   }
  .flex-images{
    justify-content: center;
  }
  footer .footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  footer .footer-flex .footer-menu-1,
  .footer-menu-2,
  .btn-footer {
    margin: 0;
  }

  nav .open-ham {
    display: block;
  }
  nav .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 8vh;
    height: fit-content;
    padding: 0px;
    left: 4vw;
    right: 4vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
  }
  nav .menu-div {
    border-radius: 2px;
  }

  nav .menu li a {
    color: black;
    font-size: 2.2vh;
    text-decoration: none;
  }

  nav button {
    display: none;
  }

  main .flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .bank-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
   .sub-box {
    width: 80vw;
    margin: auto;
    text-align: center;
  }
  .box-1,
  .box-2,
  .box-3 {
    margin-left: 0;
    margin-right: 0;
  }
  .box-2{
    padding-bottom: 0;
  }
  .box-3{
    padding-top:4rem;
  }
}

@media screen and (min-width: 800px) {
  .close-ham,
  .open-ham {
    display: none;
  }

  nav .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    list-style: none;
  }
  nav .menu-div {
    border-radius: 2px;
  }
  nav .menu li {
    padding-left: 25px;
  }
  nav .menu li a {
    color: rgb(109, 111, 113);
    font-size: 2.2vh;
    text-decoration: none;
  }
}

@media screen and (max-width:1000px ) and (min-width:800px) {
  nav{
    padding-left:0;
    padding-right:0;
    justify-content: space-evenly;
  }
}


@media screen and (max-width:800px) and (min-width:600px) {
  .bg_img_container img {
    position: relative;
    height: 39rem;
    width: 81vw;
    top: -8rem;
    left: 62px;
}
}